<div class="jumbotron">
<h1>About us</h1>
<p>I am working on my One Month Rails <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="cute cat pictures">pinteresting app</button>

</p></div>