<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-warning btn-sm" %>
</div>
<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="You Rock" data-content="Awesome job clicking that button!">Look it's a button!</button>