<div class="jumbotron">
	<h1><i>Currently under construction...</i></h1>
	</br><%= link_to "Sign Up", "#", class: "btn btn-warning btn-lg" %><%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
</div>
<div class="text-left">


<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="You Rock" data-content="Awesome job clicking that button!">Look it's a button!</button></div>	